<div id="<%= dom_id book %>">
  <p>
    <strong><%= t Book.human_attribute_name("title") %></strong>
    <%= book.title %>
  </p>

  <p>
    <strong><%= t Book.human_attribute_name("author") %></strong>
    <%= book.author %>
  </p>

  <p>
    <strong><%= t Book.human_attribute_name("publication_year") %></strong>
    <%= book.publication_year %>
  </p>

</div>
